# node & npm
node_modules
*.log

# project
.dev
static
__mocks__
__tests__
vendors
.editorconfig
.gitignore
.git
Dockerfile
.dockerignore
build
one*.tgz
lib
.webpack-stats*
.build-meta.json
bundle.integrity.manifest.json
*.md
test-setup.js
renovate.json
dangerfile.js
.github
CODEOWNERS
docs
*.png

# test
test-results
.jest-cache
prod-sample
jest.integration.config.js
jest.config.js

# env
.env*
