version: '3'

networks:
  one-app-at-test-network:
services:
  one-app:
    build:
      context: ../
      args:
        - http_proxy
        - https_proxy
        - no_proxy
    # tags the built image as:
    image: one-app:at-test
    expose:
      - "8443"
      - "3005"
    volumes:
      - ./one-app/one-app-cert.pem:/opt/cert.pem
      - ./one-app/one-app-privkey.pem:/opt/key.pem
      - ./nginx/nginx-cert.pem:/opt/nginx-cert.pem
      - ./extra-certs.pem:/opt/extra-certs.pem
    env_file:
      - ./one-app/base.env
    networks:
      one-app-at-test-network:
    depends_on:
      - "fast-api"
      - "slow-api"
      - "extra-slow-api"
      - "nginx"
    entrypoint: sh -c 'sleep 2s && node lib/server'
  fast-api:
    build:
      context: ./api
      args:
        - http_proxy
        - https_proxy
        - no_proxy
    ports:
      - "8000:80"
    networks:
      one-app-at-test-network:
        aliases:
          - fast.api.frank
  slow-api:
    build:
      context: ./api
      args:
        - http_proxy
        - https_proxy
        - no_proxy
    ports:
      - "8001:80"
    entrypoint:
      - "npm"
      - "start"
      - "--"
      - "3000"
    networks:
      one-app-at-test-network:
        aliases:
          - slow.api.frank
  extra-slow-api:
    build:
      context: ./api
      args:
        - http_proxy
        - https_proxy
        - no_proxy
    ports:
      - "8002:80"
    entrypoint:
      - "npm"
      - "start"
      - "--"
      - "8000"
    networks:
      one-app-at-test-network:
        aliases:
          - extra-slow.api.frank
  nginx:
    image: nginx:1.17.5-alpine
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/nginx-cert.pem:/etc/ssl/nginx-cert.pem
      - ./nginx/nginx-privkey.pem:/etc/ssl/nginx-privkey.pem
      - ./nginx/origin-statics:/usr/share/nginx/html
    networks:
      one-app-at-test-network:
        aliases:
          - sample-cdn.frank
  selenium-chrome:
    # specify docker image sha to ensure consistency
    image: selenium/standalone-chrome-debug@sha256:e8bf805eca673e6788fb50249b105be860d991ee0fa3696422b4cb92acb5c07a
    # https://github.com/SeleniumHQ/docker-selenium#running-the-images
    volumes:
      - /dev/shm:/dev/shm
    ports:
      - "4444:4444"
      - "5901:5900"
    networks:
      one-app-at-test-network:
    # sleep 5s to make sure set up is completed prior to opening up chrome
    entrypoint: bash -c '/opt/bin/entry_point.sh & sleep 5s && google-chrome --ignore-certificate-errors --no-first-run --autofill-server-url https://one-app:8443/success'
