version: '3'

services:
  one-app:
    ports:
      - "3000:3000"
      # node inspector
      - "9229:9229"
    env_file: ./one-app/debug.env
    entrypoint:
      - sh
      - scripts/start.sh
      - --inspect=0.0.0.0
