name: Build Size - gzipped

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
      - uses: preactjs/compressed-size-action@v2
        env:
          NODE_ENV: development
        with:
          build-script: "build:bundle"
          pattern: "./build/**/*.js"
          strip-hash: \d+\.\d+\.\d+[-\S+]*\/
          exclude: "{./build/**/i18n/*.js,./build/**/legacy/**,./build/**/tmp/**,**/*.map,**/node_modules/**}"
