name: DangerJS
on: pull_request
jobs:
  dangerJS:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - uses: actions/cache@v2
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - name: npm install
      run: NODE_ENV=development npm ci
    - name: Danger
      run: NODE_ENV=production npm run test:danger
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
