name: "[on 5.x.x] Release Drafter"
on:
  push:
    branches:
      - 5.x.x

jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v5
        with:
          config-name: release-drafter-5.x.x.yml # located in .github/ in default branch
        env:
          GITHUB_TOKEN: ${{ secrets.PA_TOKEN }}
